<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
    </head>
    <body>
        <div>this is in the layout template</div>
        {{{ body }}}
    </body>
</html>