* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial; }

div#chat-div {
    display: none;
}

div#is-typing {
    display: hidden;
}

form#chat-form {
    position: fixed;
    bottom: 0;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li.right {
    text-align: right;
}

#messages li:nth-child(odd) {
    background: #eee;
}

ul#active-users li {
    text-align: center;
}